language: julia
sudo: required
dist: trusty
julia:
  - nightly
  - 1.0
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
before_install:
  - sudo apt-get -qq update
#script: # use the default script section which is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("PGFPlots"); Pkg.test("PGFPlots"; coverage=true)'
after_success:
  - julia --project -e 'import Pkg; cd(Pkg.dir("alg4opt_test")); Pkg.build("alg4opt_test"); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
